.testimonial-section {
  padding: 60px 0 40px;
  background-image: url("../../../src/assets/Testimonial/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.testimonial-section::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.85;
  background-color: rgb(192, 186, 165);
}
.footer-image {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: -110px;
}
.footer-image img {
  max-width: 100%;
  height: 130px;
}

.testi-item img {
  height: 500px;
  /* width: 600px; */
  border-radius: 10px 10px 10px 10px;
}


.testimonial-section .testi-item {
  background-color: white;
  padding: 10px 20px 20px 20px;
  border-radius: 10px 10px 10px 10px;
}

.testimonial-section .testi-item p {
  font-size: 18px;
  font-family: "Poppins Bold";
  line-height: 26px;
  margin: 20px 20px;
  text-decoration: underline #755139FF;
}

.testimonial-section .testi-item a {
  font-size: 15px;
  font-family: "Poppins Bold";
  line-height: 26px;
  color: #755139FF;
}

.owl-carousel .owl-nav button.owl-next {
  background: none;
  color: white;
  border-radius: 3px;
  padding: 0 !important;
  font: inherit;
  font-size: 40px;
  margin-left: 100px;
  right: -35px;
}
.owl-carousel .owl-nav button.owl-prev {
  background: none;
  color: white;
  border-radius: 3px;
  padding: 0 !important;
  font: inherit;
  font-size: 40px;
  margin-right: 100px;
  left: -35px;
}
.owl-carousel button.owl-dots {
  background: none;
  color: white;
  border: none;
  padding: 0 !important;
  font: inherit;
  margin-bottom: -20px;

}

@media only screen and (max-width: 1000px), screen and (max-height: 500px) {
  .testi-item img {
    width: 100%;
    height: 70%;
  }
}

@media only screen and (max-width: 466px) {
  .testi-item {
    display: flex;
    flex-direction: column;
  }
}
